<div class="containerr">
    <div class="container1">
    <div class="container2">
      <div class="textrgt">
        <h1>Add-Admin</h1>
      </div>
      
    </div>
      <div class="container">
        <div class="card">
          <div class="content">
            <div class="avatar">
              <img
                src="https://c.tenor.com/j2aVLrYfEBsAAAAC/jett-valroant.gif"
                alt=""
              />
            </div>
  
            <div class="profile">
              <h3>6204062630521</h3>
              <p>Student</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="cardtest">
      <div class="Card-Add-Admin">
        <div class="topic">
          <h2 style="color:cornsilk" class="topichead">
            Subject Details
          </h2>
        </div>
        <div class="inputarea">

          <div class="inputcontroll">
          <div class="fontlg">
            <p>Subject</p>
            <input type="text" class="textbox" placeholder="Subject ">
            </div>
          

          <div class="fontlg">
            <p>Subject ID</p>
            <input type="text" class="textbox" placeholder="Subject ID">
            </div>
          
          

          </div>
          
          <div class="inputcontroll">
            <div class="fontlg">
              <p>Day</p>
              <input type="text" class="textbox" placeholder="Day">
              </div>
            
  
            <div class="fontlg">
              <p>Time</p>
              <input type="text" class="textbox" placeholder="Time">
              </div>
            
            
  
            </div>
            <div class="fontlg">
              <p>Credit</p>
              <input type="text" class="textbox" placeholder="Credit">
              </div>
              <div class="submitcontroll">
            <input type="submit" class="btn-submit" value="OK" >
          </div>
      </div>
      

      </div>
      
    </div>
  </div>